@import '@fontsource-variable/dm-sans';
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb) transparent;
  
    ::-webkit-scrollbar {
      width: 6px; 
      height: 6px; 
    }
  
    ::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb);
      border-radius: 10px;
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background-color: var(--scrollbar-thumb-hover);
    }
  
    ::-webkit-scrollbar-track {
      background-color: transparent; 
    }
  }
  
/* Light Mode Variables */
:root {
--scrollbar-thumb: #d1d5db; 
--scrollbar-thumb-hover: #9ca3af;
}

/* Dark Mode Variables */
.dark {
--scrollbar-thumb: #374151;
--scrollbar-thumb-hover: #1f2937; 
}

button{
    svg{
        display: inline;
    }

    border-radius: 0.5rem;
}

a, input[type], select, .dropdown, table, textarea, #drop-zone , .choices__item--selectable{
    border-radius: 0.5rem;
}
.choices__inner, .is-open .choices__inner, .choices{
    border-radius: 0.5rem !important;
}
.choices__item--selectable{
    font-size: 0.8rem !important;
    padding: 0.4rem 0.6rem !important;
}

input[type], select, textarea{
    border: none;
}

.dropdown{
    overflow: hidden;
}

table{
    overflow: hidden;
}

.text-left > *{
    text-align: left;
}

.company-card{
    img{
        height: 100px;
        min-width: 100px;
        border-radius: 1rem;
    }
}

.tab-links{
    button, a{
        &.active{
            background-color: #fff;
            color: #ff8800 !important;
            font-weight: 600;

            svg{
                stroke-width: 2;
            }
        }
    }
}

.progress-step{
    background-color: rgb(225, 225, 225);

    &.active{
        background-color: rgb(247 147 30);
    }
}

.choices__list--dropdown {
    &.is-active{
        z-index: 9999;
    }
}

.choices, .choices__inner{
    border: none !important;
}

.choices__input{
    margin-bottom: 0 !important;
    padding: 0.5rem !important;
    line-height: 110%;
}

.choices__inner{
    padding: 0.4rem !important;
    min-height: unset !important;
}

.choices__list--dropdown, .choices__list[aria-expanded]{
    border: none !important;
}

h1{
    a{
        text-decoration: underline;
    }
}

.dark{
    .tab-links{
        button, a{
            &.active{
                background-color: #f7921e27;
            }
        }
    }
    .progress-step{
        background-color: rgba(255, 255, 255, 0.152);
    
        &.active{
            background-color: rgb(247 147 30);
        }
    }

    /* Dark Mode Styles for Choices.js */
    .choices {
        background-color: #1f2937 !important; /* Tailwind 'gray-800' */
        color: #e5e7eb !important; /* Tailwind 'gray-200' */
        border-color: #374151 !important; /* Tailwind 'gray-700' */
        margin-bottom: 1rem; /* Add spacing below the dropdown */
        
    }

    .choices__input{
        background-color: #1f2937;
    }

    .choices__inner {
        background-color: #1f2937; /* Tailwind 'gray-800' */
        color: #e5e7eb; /* Tailwind 'gray-200' */
        border: 1px solid #374151; /* Tailwind 'gray-700' */
    }

    .choices__list--dropdown {
        color: #e5e7eb; /* Tailwind 'gray-200' */
        border-color: #4b5563; /* Tailwind 'gray-600' */
        max-height: 200px;
        overflow-y: auto;
    }

    .choices__list--dropdown, .choices__list[aria-expanded]{
        background-color: #1f2937;
    }

    .choices__list--dropdown .choices__item--choice {
        color: #e5e7eb; /* Tailwind 'gray-200' */
        background-color: #374151; /* Tailwind 'gray-700' */
    }

    .choices__list--dropdown .choices__item--choice:hover,
    .choices__list--dropdown .choices__item--choice[data-choice-selected] {
        background-color: #4b5563; /* Tailwind 'gray-600' */
        color: #ffffff; /* White */
    }

    .choices__item--selectable {
        margin: 0.25rem; /* Add spacing between tags */
        display: inline-flex;
        align-items: center;
    }

    .choices__button {
        background-color: #813e3e; /* Tailwind 'red-400' */
        cursor: pointer;
        width: 20px !important;
        height: 20px !important;
        border: none !important;
        padding: 0 !important;
        margin: 0 0rem 0 0.5rem!important;
        border-radius: 9999px !important; /* Fully rounded */
        line-height: 1; /* Improve button sizing */
        transition: background-color 0.2s ease;
    }

    .choices__button:hover {
        background-color: #ef4444; /* Tailwind 'red-500' */
    }

    .choices[data-type*=select-one] .choices__input{
        background-color: #374151;
        border-color: #374151;
    }

    .choices__item{
        background-color: #374151 !important;
        &:hover{
            background-color: #1f2937 !important;
        }
    }

    .is-focused .choices__inner, .is-open .choices__inner{
        border-color: #4b5563;
    }
}

.choices__list--single{
    padding: 0 !important;
    .choices__item{
        margin: 0 !important;
        padding: 0.5rem !important;
        border-radius: unset !important;
        background-color: transparent !important;
    }
}

.bg-red-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}

.bg-yellow-500\/25 {
    background-color: #eab30840;
}
.bg-red-500\/25 {
    background-color: #ef444440;
}
.bg-gray-500\/25 {
    background-color: #6b728040;
}
.bg-gray-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

.bg-yellow-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(234 179 8 / var(--tw-bg-opacity));
}
.rounded-full {
    border-radius: 9999px;
}
.w-3 {
    width: .75rem;
}
.h-3 {
    height: .75rem;
}

div.success, div.error{
    position: fixed;
    z-index: 99999;
    left: 50%;
    top: 10%;
    opacity: 1;
    transform: translate(-50%, 0);
    padding: 1.2rem 1.6rem 1.2rem 3rem;
    max-width: 90vw;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left 1rem center;
    transition: all 0.4s ease-in-out;

    &.hidden{
        /* opacity: 0; */
    }
}

div.success{
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiNGRkZGRkY7c3Ryb2tlLXdpZHRoOjI7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO30NCjwvc3R5bGU+DQo8cG9seWxpbmUgY2xhc3M9InN0MCIgcG9pbnRzPSIyMCw2IDksMTcgNCwxMiAiLz4NCjwvc3ZnPg0K');
}
div.error{
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyNS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjQgMjQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtmaWxsOm5vbmU7c3Ryb2tlOiNGRkZGRkY7c3Ryb2tlLXdpZHRoOjI7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO30NCjwvc3R5bGU+DQo8Y2lyY2xlIGNsYXNzPSJzdDAiIGN4PSIxMiIgY3k9IjEyIiByPSIxMCIvPg0KPGxpbmUgY2xhc3M9InN0MCIgeDE9IjEyIiB5MT0iOCIgeDI9IjEyIiB5Mj0iMTIiLz4NCjxsaW5lIGNsYXNzPSJzdDAiIHgxPSIxMiIgeTE9IjE2IiB4Mj0iMTIiIHkyPSIxNiIvPg0KPC9zdmc+DQo=');
}

.task{
    transition: transform 0.2s ease-in-out;
    &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff00;
        transition: background-color 0.2s ease;
        pointer-events: none;
    }
    &:hover{
        &::after{
            background-color: #ffffff20;  
        }
        transform: translateY(-4px);
    }
}

li[data-group]{
    &.filtered{
        background-color: #0000002e;
        padding: 0.4rem;
        border-radius: 12px;
        transform: scale(1.08);
    }
}

.choices{
    z-index: 9999999 !important;

}
.checkbox-wrapper-47 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-47 label {
    position: relative;
    padding-left: 2em;
    padding-right: 1em;
    cursor: pointer;
    display: inline-flex;
    font-weight: 300;
  }

  .checkbox-wrapper-47 label:before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #9098A9;
    border-radius: 12px;
    transform: translateY(-50%);
  }

  .checkbox-wrapper-47 input[type=checkbox]:checked + label {
    padding-left: 1em;
    color: #2cbc63;
    font-weight: 600;
  }
  .checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
    width: 100%;
    height: 150%;
    background: #2cbc6314;
    border-color: #2cbc63;
    
    border-width: 1px;
  }

  .checkbox-wrapper-47 label,
  .checkbox-wrapper-47 label::before {
    transition: 0.25s all ease;
  }


  .checkbox-wrapper-51 input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }

  .checkbox-wrapper-51 .toggle {
    position: relative;
    display: block;
    width: 42px;
    height: 24px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-51 .toggle:before {
    content: "";
    position: relative;
    top: 1px;
    left: 1px;
    width: 40px;
    height: 22px;
    display: block;
    background: #c8ccd4;
    border-radius: 12px;
    transition: background 0.2s ease;
  }
  .checkbox-wrapper-51 .toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    display: block;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(154,153,153,0.75);
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-51 .toggle span svg {
    margin: 7px;
    fill: none;
  }
  .checkbox-wrapper-51 .toggle span svg path {
    stroke: #c8ccd4;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 24;
    stroke-dashoffset: 0;
    transition: all 0.5s linear;
  }
  .checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle:before {
    background: #52d66b;
  }
  .checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span {
    transform: translateX(18px);
  }
  .checkbox-wrapper-51 input[type="checkbox"]:checked + .toggle span path {
    stroke: #52d66b;
    stroke-dasharray: 25;
    stroke-dashoffset: 25;
  }

  .loader-frame{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    pointer-events: none;
    background-color: #00000074;
    backdrop-filter: blur(20px);
    transition: 0.4s ease;
  }

  .loader-frame.disabled{
    backdrop-filter: blur(0);
    opacity: 0;
  }

  .loader {
    width: 60px;
    aspect-ratio: 1;
    border: 5px solid #ffffff4a;
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
  }
  .loader::before {
    content: "";
    position: absolute;
    inset: -5px;
    border-radius: 50%;
    border: 5px solid #ff8800;
    animation: loading 1.5s infinite linear;
  }
  @keyframes loading {
      0%   {clip-path:polygon(50% 50%,0 0,0    0,0    0   ,0    0   ,0    0   )}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0   ,100% 0   ,100% 0   )}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    0   )}
  }

  .stakeholder-grid{
    .stakeholder-card{
        .stakeholder-role{
            margin-bottom: 1rem;
            &:before{
                content: 'Role: ';
            }
        }

        .permissions{
            padding-bottom: 3rem;
            max-height: 7rem;
            overflow-y: scroll;
            font-size: 0.8rem;
            position: relative;
            &:after{
                content: '';
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 3rem;
                z-index: 2;
                background: linear-gradient(0deg, #1f2937, transparent);
            }

            &::-webkit-scrollbar{
                display: none;
            }
        }
    }
  }

  .checkbox-wrapper-34 {
    --blue: #0D7EFF;
    --g08: #E1E5EB;
    --g04: #2a3241;
  }
.checkbox-wrapper-34 .tgl {
    display: none;
  }
.checkbox-wrapper-34 .tgl,
  .checkbox-wrapper-34 .tgl:after,
  .checkbox-wrapper-34 .tgl:before,
  .checkbox-wrapper-34 .tgl *,
  .checkbox-wrapper-34 .tgl *:after,
  .checkbox-wrapper-34 .tgl *:before,
  .checkbox-wrapper-34 .tgl + .tgl-btn {
    box-sizing: border-box;
  }
.checkbox-wrapper-34 .tgl::-moz-selection, .checkbox-wrapper-34 .tgl:after::-moz-selection, .checkbox-wrapper-34 .tgl:before::-moz-selection, .checkbox-wrapper-34 .tgl *::-moz-selection, .checkbox-wrapper-34 .tgl *:after::-moz-selection, .checkbox-wrapper-34 .tgl *:before::-moz-selection, .checkbox-wrapper-34 .tgl + .tgl-btn::-moz-selection {
    background: none;
  }
.checkbox-wrapper-34 .tgl::selection,
  .checkbox-wrapper-34 .tgl:after::selection,
  .checkbox-wrapper-34 .tgl:before::selection,
  .checkbox-wrapper-34 .tgl *::selection,
  .checkbox-wrapper-34 .tgl *:after::selection,
  .checkbox-wrapper-34 .tgl *:before::selection,
  .checkbox-wrapper-34 .tgl + .tgl-btn::selection {
    background: none;
  }
.checkbox-wrapper-34 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 75px;
    height: 27px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
  }
.checkbox-wrapper-34 .tgl + .tgl-btn:after,
  .checkbox-wrapper-34 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 23px;
    height: 100%;
  }
.checkbox-wrapper-34 .tgl + .tgl-btn:after {
    left: 0;
  }
.checkbox-wrapper-34 .tgl + .tgl-btn:before {
    display: inline;
    position: absolute;
    top: 5px;
  }
.checkbox-wrapper-34 .tgl:checked + .tgl-btn:after {
    left: 67.5%;
  }
.checkbox-wrapper-34 .tgl-ios + .tgl-btn {
    background: var(--g08);
    border-radius: 20rem;
    padding: 2px;
    transition: all 0.4s ease;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  }
.checkbox-wrapper-34 .tgl-ios + .tgl-btn:after {
    border-radius: 2em;
    background: #fff;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
.checkbox-wrapper-34 .tgl-ios + .tgl-btn:before {
    content: "Note";
    left: 34px;
    font-weight: 600;
    color: var(--g04);
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
.checkbox-wrapper-34 .tgl-ios + .tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
  }
.checkbox-wrapper-34 .tgl-ios + .tgl-btn:active:after {
    padding-right: 0.4em;
  }
.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn {
    background: var(--blue) !important;
  }
.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
  }
.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:active:after {
    margin-left: -0.4em;
  }
.checkbox-wrapper-34 .tgl-ios:checked + .tgl-btn:before {
    content: "Action";
    left: 7px;
    color: #fff;
  }

.dark{
    .checkbox-wrapper-34 .tgl-ios + .tgl-btn{
        background: #374151;
    }

    .checkbox-wrapper-34 .tgl-ios + .tgl-btn:before{
        color: var(--g08);
    }

    .checkbox-wrapper-34 .tgl-ios:not(:checked) + .tgl-btn:after{
        background: #b4c9eb;
    }
}

.dropdown{
    max-height: 0;
    opacity: 0;
    transition: opacity 0.5s ease, max-height 0.3s ease;
}

.dropdown.active{
    opacity: 1;
    max-height: 500px;
}